<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="img/favicon.ico">
    <title>InvAid</title>

    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Exo+2:300,700' rel='stylesheet' type='text/css'>  
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/inventory.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="invbody">
  
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">InvAid</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="index">Dashboard</a></li>
        <li class="active"><a href="#">Inventory</a></li>
        <li><a href="chat">Messenger</a></li>
        <li><a href="logout">Log Out</a></li>
      </ul>
      <ul class="nav navbar-nav">
<!-- ===========BACKEND STUFF START HERE ==========-->
<!-- Need to write <li> block to populate <a> tag with logged in user's name -->
        <li><a  id="current-user-name" href="#">Logged in as: Ryan Chavez</a></li>
<!-- ===========BACKEND STUFF END HERE ==========-->
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h3>Inventory</h3>
    <form class="form-inline" role="form">
      <div class="form-group">
        <label class="sr-only" for="Search">Search inventory</label>
        <div class="col-xs-8">
          <input type="search" class="form-control" id="exampleInputEmail2" placeholder="Search inventory">
        </div>
      </div>
      <div>
<!-- ===========BACKEND STUFF START HERE ==========-->
<!-- Searching should filter out unmatched items -->
        <button type="submit" class="btn btn-default">Search</button>
<!-- ===========BACKEND STUFF END HERE ==========-->
      </div>
    </form>
  </div>

  <!-- PLAYING AROUND WITH STUFF -->
  

  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th class="id-name">#</th>
        <th class="item-name">Item Name</th>
        <th class="qty-name">Quantity</th>
        <th class="threshold-name">Threshold</th>
        <th class="modified-name">Modified By</th>
      </tr>
    </thead>
    <tbody>
<!-- ===========BACKEND STUFF START HERE ==========-->
<!-- First row should be empty and allow user to input new item. -->
      <tr class="newitem">
        <form id="addFriendForm" role="form" method="get" action="/inventory">
          <div class="form-group">
            <td class="id-width"></td>
            <td class="item-width">
              <input type="text" class="form-control" id="name" placeholder="Item Name" name="item_name">
            </td>
            <td class="qty-width">
              <input type="text" class="form-control" id="quantity" placeholder="Qty" name="quantity">
            </td>
            <td class="threshold-width">
              <input type="text" class="form-control" id="threshold" placeholder="Qty" name="threshold">
            </td>
            <td>
              <input type="submit" id="submitBtn" class="btn btn-default" value="Add Item">
            </td>
          </div>
        </form>
      </tr>
<!-- ===========BACKEND STUFF END HERE ==========-->
<!-- ===========BACKEND STUFF START HERE ==========-->
<!-- Need to write a <tr> block for each item tied to account and highlight with appropirate color if recently changed or lower than threshold -->

<!-- THIS STUFF WILL BE REPLACED WITH MONGODB QUERIES -->
    {{#each items}}
      {{#if item_name.length}}
      <tr>
        <td>{{id_number}}</td>
        <td>{{item_name}}</td>
        <td>{{quantity}}</td>
        <td>{{threshold}}</td>
        <td>{{modified_by}}</td>
      </tr>
      {{/if}}
    {{/each}}

<!-- ===========BACKEND STUFF START HERE ==========-->
    </tbody>
  </table>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
  </body>
</html>